.row ul {
  list-style: none;
  display: flex;
}

.row ul li {
  margin: 1.2rem;
}

.row ul li a {
  text-decoration: none;
  font-size: 1.5rem;
  color: teal;
}

.row ul li a:hover {
  cursor: pointer;
  border-bottom: 2px solid teal;
}
